body {
    background-color: #091933;
    color: #9ce5ff;
    font-size: 25px;
    font-family: monospace;
}

ul {
    list-style-type: "☆";
}

li {
    padding-left: 30px;
}

li:hover, h1:hover, h2:hover {
    color: #E900D6;
}